h1{
    font-style: italic;
    text-shadow: 20px;
    color: red;
}
.container
{
    width:400px;
    height:400px;
    background-color: teal;
    margin:20px;
    display:flex;
    border:solid black;

    flex-wrap:wrap;
    flex-direction:row;
    justify-content: center;

}
.item
{
    width:50px;
    height:50px;
    background-color:azure;
    margin:10px;
    font-size:20pt;
    color: black;
    border:solid black
    
}